In [ ]:
import pandas as pd;
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/KNN.csv')
df.head()

   Weight  Height        Class
0      51     167  Underweight
1      62     182       Normal
2      69     176       Normal
3      64     173       Normal
4      65     172       Normal

In [ ]:
df.iloc[:,2:] #selects all the rows and all the columns starting from the third column (column index 2) up to the last column of the DataFrame
x = df.iloc[:,0:2] #df.iloc[:,0:2] selects all the rows and the first two columns of the DataFrame.
print(x)

   Weight  Height
0      51     167
1      62     182
2      69     176
3      64     173
4      65     172
5      56     174
6      58     169
7      57     173
8      55     170

In [ ]:
y=df.iloc[ : ,-1] #df.iloc[:, -1] selects all the rows of the DataFrame and the last column
print(y)

0    Underweight
1         Normal
2         Normal
3         Normal
4         Normal
5    Underweight
6         Normal
7         Normal
8         Normal
Name: Class, dtype: object

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
my_label=preprocessing.LabelEncoder()
df['Class']=my_label.fit_transform(df['Class'])
print(df)

   Weight  Height  Class
0      51     167      1
1      62     182      0
2      69     176      0
3      64     173      0
4      65     172      0
5      56     174      1
6      58     169      0
7      57     173      0
8      55     170      0

In [ ]:
from sklearn.model_selection import train_test_split

x: The features or independent variables of the dataset.

y: The target or dependent variable of the dataset.

test_size: The proportion of the dataset to include in the test split. In this case, it's set to 0.2, which means that 20% of the data will be used for testing, while 80% will be used for training.

random_state: This parameter sets the random seed for reproducibility. In this case, it's set to 2.

In [ ]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
Classifier = KNeighborsClassifier(n_neighbors=5) # 5 nearest neighbors to make predicitions
Classifier.fit(x,y)
Classifier.predict([[57,170]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Normal'], dtype=object)

The exact interpretation of a classifier score of 1 depends on the specific performance metric being used. For example, if the performance metric is accuracy, then a score of 1 means that the classifier model is making perfect predictions on the test data, i.e., all of its predictions are correct. However, in practice, it is rare to achieve a score of 1, as most datasets are inherently noisy and contain some level of uncertainty.

In [ ]:
Classifier.score(x_test, y_test)

1.0

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
y_pred = Classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[2]])

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Normal       1.00      1.00      1.00         2

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2